* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", "Caladea", sans-serif;
}

html {

}

a {
    text-decoration: none;

}
a:link {
    color: black;
}
a:visited {
    color: black;
}

ul {
    list-style: none;
}

/* https://coolors.co/0a1128-001f54-034078-1282a2-fefcfb */
:root {
    --primary: #023C40;

    --secondary: #028090;
    --tertiary: #114B5F;
    --tertiaryDark: #087E8B;
    --secondaryDark: #004BA8;
}

header {
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 0;
    justify-content: space-between;
    padding: 1rem 1rem;
    align-items: center;
    border-bottom: 0.1rem solid black;
    background: var(--primary);
}

header img {
    background: white;
    padding: 1rem 0.5rem;
    border-radius: 10%;
}

header nav ul {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    left: 100px;
    gap: 3rem;
}

header nav ul li {
    color: red;
    font-size: 1.2rem;

    a:link {
        color: white;
    }
    a:visited {
        color: white;
    }
}

header div {
    display: flex;
    gap: 1rem;
}

.sign_login {
    border: none;
    border-radius: 0.3rem;
    background: var(--secondary);
    padding: 0.8rem 1.8rem;

    color: #fefefe;
    font-weight: bold;
    font-size: 1rem;


}
.sign_login:hover {
    background: #29aab6;
    transition: 0.5s;
    cursor: pointer;
}


.CASH {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.CASH h1 {
    font-size: 4rem;
    font-family: "Caladea", "Inter", sans-serif;
}

.CASH h2 {
    font-size: 2rem;
}

.CASH div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 0.5rem;
    row-gap: 0.5rem;

    :nth-last-child(1) {
        grid-row: 2 / 3;
        grid-column: 1 / 3;
        justify-self: center;
        align-self: center;
        width: 100%;
        height: 100%;

        border: 2px solid var(--primary);
        background: transparent;
        border-radius: 0.5rem;
        font-size: 1rem;
        font-weight: bold;


    }

    :nth-last-child(1):hover {
        background: #29aab6;
        border: none;
        transition: 0.2s;
        cursor: pointer;
        color: white;

    }
}

.CASH p {
    width: 25%;
}

.funciona {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: #f1f1f1;
    padding: 2rem;
    margin-top: 2rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.funciona h2 {
    justify-self: center;
    align-self: center;

}

.funciona ol {
    display: flex;
    gap: 6rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 3rem;
    height: 100%;
}

.funciona ol li {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    border: 2px solid var(--tertiary);
    border-radius: 1rem;
    width: 25%;
    padding: 1rem;
}

.caracteristicas h2 {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 2rem;
}
.caracteristicas div {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background-color: var(--primary);
    gap: 1rem;
    margin: 0 4rem;
    padding: 1rem;
    border-radius: 1rem;
    font-size: large;

    article {
        background-color: white;
        border-radius: 1rem;
    }

    article h3, p {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.5rem;
    }

    article:nth-child(1) {
        display: flex;
        justify-content: center;
        align-items: center;

        grid-column: 1 / 3;
        grid-row: 1 / 2;
    }

    article:nth-child(2) {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
    }

    article:nth-child(3) {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    article:nth-child(4) {
        display: flex;
        justify-content: center;
        align-items: center;

        grid-column: 2 / 4;
        grid-row: 2 / 3;
    }

    article:nth-child(5) {
        width: 50%;
        grid-column: 1 / 4;
        grid-row: 3 / 4;
    }
}
