* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

a {
    text-decoration: none;

}
a:link {
    color: black;
}
a:visited {
    color: black;
}

ul {
    list-style: none;
}

/* https://coolors.co/0a1128-001f54-034078-1282a2-fefcfb */
:root {
    --primary: #023C40;

    --secondary: #028090;
    --tertiary: #114B5F;
    --tertiaryDark: #087E8B;
    --secondaryDark: #004BA8;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 1rem;
    align-items: center;
    border-bottom: 0.1rem solid black;
    background: var(--primary);
}

nav img {
    background: white;
    padding: 1rem 0.5rem;
    border-radius: 10%;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 3rem;
}

nav ul li {
    color: red;
    font-size: 1.2rem;

    a:link {
        color: white;
    }
    a:visited {
        color: white;
    }
}

nav div {
    display: flex;
    gap: 1rem;
}

.sign_login {
    border: none;
    border-radius: 0.3rem;
    background: var(--secondary);
    padding: 0.8rem 1.8rem;

    color: white;
    font-weight: bold;
    font-size: 1rem;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

header div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 0.5rem;
    row-gap: 0.5rem;

    :nth-last-child(1) {
        grid-row: 2 / 3;
        grid-column: 1 / 3;
        justify-self: center;
        align-self: center;
        width: 100%;
        height: 100%;

        border: 2px solid var(--primary);
        background: transparent;
        border-radius: 0.5rem;
        font-size: 1rem;
        font-weight: bold;
    }
}

header p {
    width: 25%;
}

header h1 {
    margin: 1rem 0;
}